// Custom bootstrap variables must be set or imported *before* bootstrap.
@import 'bootstrap/dist/css/bootstrap';

.navbar {

background-color: black !important;
color: white;
}

.nav-link{
  color: white !important;
}
#home-container{
  margin-top:15px;
}
#logo {
  float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

.card-header {
  font-style: italic !important;
}

#logo:hover {
  color: red;
  text-decoration: none;
}
#footer-link {
  text-decoration: none;
}

#page-content {
  background-color:#ebecf0 !important;
}

.footer {
  background-color: black !important;
}

.navbar-brand {

font-size: 3rem;
color: white;

}

.jumbotron {
color:#ffffff ;
background-color:#ebecf0 !important;
  padding: 10px;
  background-image: asset-url('laptop2.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
}



h1 {

color: red;

}
