<div class="container" >
<div class="footer-margin text-center">
    <footer class="footer card-footer bg-light footer-font-style text-muted footer-position">

      <%= link_to "RTS LLC", "https://rts-llc.com", id: "footer-link", class: "text-white" %>
    </footer>
  </div>
</div>
